!
hostname {{ host }}
!
username admin privilege 15 role network-admin secret sha512 $6$NfD5eWiya9A.EgJF$qaW2.KvCz9oW0daVPqxQrUN5UYb4NN7URw42DMHqtHi7OSZ3eQGQBBvkYH.ZzO3wb2TAqGFBIZAVSRmvxeEvF1
!
aaa authorization exec default local
!
ip access-list standard snmp-clients
{% for snmp_server in snmp_servers %}
permit host {{ snmp_server.host }}
{% endfor %}
!
