{% extends "managed-full.j2" %}
{% block interfaces %}
{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.ifclass == 'downlink' %}
 switchport
 switchport mode trunk
 channel-group {{ intf.indexnum }} mode active
 description DOWNLINK
interface Port-channel {{ intf.indexnum }}
 description DOWNLINK
{% elif intf.ifclass == 'custom' %}
 {{ intf.config }}
{% endif %}
{% endfor %}
{% endblock %}
{% block management %}
interface lo1
 no shutdown
 ip address {{ mgmt_ip }}/{{ mgmt_prefixlen }}
{% for mgmtdom in mgmtdomains %}
vlan {{ mgmtdom.vlan }}
interface Vlan{{ mgmtdom.vlan }}
 ip address {{ mgmtdom.ipv4_gw }}
{% endfor %}
{% endblock %}
{% block routing %}
ip routing
{% for vrf in vrfs %}
vrf definition {{ vrf.name }}
{% endfor %}
{% endblock %}
