{% extends "managed-full.j2" %}
{% block interfaces %}
{% for intf in downlinks %}
interface {{ intf.ifname }}
 switchport
 switchport mode trunk
 channel-group 1 mode active
 description DOWNLINK
{% endfor %}
{% for intf in custom_interfaces %}
interface {{ intf.ifname }}
 {{ intf.config }}
{% endfor %}
{% endblock %}
{% block management %}
interface lo1
 no shutdown
 ip address {{ mgmt_ip }}/{{ mgmt_prefixlen }}
{% for mgmtdom in mgmtdomains %}
vlan {{ mgmtdom.vlan }}
interface Vlan{{ mgmtdom.vlan }}
 ip address {{ mgmtdom.ipv4_gw }}
{% endfor %}
{% endblock %}
{% block routing %}
ip routing
{% for vrf in vrfs %}
vrf {{ vrf.name }}
{% endfor %}
{% endblock %}
