hostname {{ host }}
! comment13
management api http-commands                                                                                                                
 no shutdown
 vrf MGMT
  no shutdown
username admin privilege 15 role network-admin secret sha512 $6$EUgHTmtsuF8lD16R$hUbPV.SccKXWtA2F74aPRvQkL0wsak2ZtdZ49P6IyFqfTse4cuyaqEeBnHPdquf2oiGjNbSevLYpL/8HIb0z./
vrf definition MGMT
{% block interfaces %}
{% endblock %}
interface Loopback0
 no shutdown
 ip address {{ infra_ipif }}
interface Loopback1
 vrf forwarding MGMT
 no shutdown
 ip address {{ mgmt_ipif }}
{% block routing %}
{% endblock %}
{% for ntp_server in ntp_servers %}
ntp server vrf MGMT {{ ntp_server.host }}
{% endfor %}
