hostname {{ host }}
service unsupported-transceiver 20160802Nordunet ba726d9d
! comment13
management api http-commands
 no shutdown
username admin privilege 15 role network-admin secret sha512 $6$NfD5eWiya9A.EgJF$qaW2.KvCz9oW0daVPqxQrUN5UYb4NN7URw42DMHqtHi7OSZ3eQGQBBvkYH.ZzO3wb2TAqGFBIZAVSRmvxeEvF1
{% block interfaces %}
{% endblock %}
{% block management %}
{% endblock %}
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server.host }}
{% endfor %}
{% block routing %}
{% endblock %}
