{% extends "managed-full.j2" %}
{% block interfaces %}
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
}
interfaces {
    {% for intf in uplinks %}
    {{ intf.ifname }} {
        description "Uplink-phy"
        ether-options {
           802.3ad ae0; 
        }
    }
    {% endfor %}
    ae0 {
        description "Uplink"
        flexible-vlan-tagging;
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    irb {
        unit 0 {
            family inet {
                address {{ mgmt_ip }}/{{ mgmt_prefixlen }};
            }
        }
    }

    {% for intf in access_auto %}
    {{ intf.ifname }} {
        unit 0 {
            family ethernet-switching {
            }
        }
    }
    {% endfor %}
}
access {
    radius-server {
        {% for radius_server in radius_servers %}
        {{ radius_server.host }} secret "testing";
        {{ radius_server.host }} source-address {{ mgmt_ip }};
        {% endfor %}
    }
    profile prof1 {
        authentication-order radius;
        radius {
            {% for radius_server in radius_servers %}
            authentication-server {{ radius_server.host }};
            {% endfor %}
        }
    }
}
protocols {
   dot1x {
       authenticator {
           authentication-profile-name prof1;
	   {% if access_auto %}
           interface {
           {% for intf in access_auto %}
            {{ intf.ifname }} {
                supplicant single;
               }
           {% endfor %}
           }
	   {% endif %}
       }
   }
}
vlans {
   int {
        vlan-id 123;
    }
    ext {
        vlan-id 321;
    }
}
poe {
   interface all;
}
{% endblock %}
