{% extends "managed-full.j2" %}
{% block interfaces %}
chassis {
    aggregated-devices {
        ethernet {
            device-count 2;
        }
    }
}
interfaces {
    {% for intf in uplinks %}
    {{ intf.ifname }} {
        description "Uplink-phy"
        ether-options {
           802.3ad ae0; 
        }
    }
    {% endfor %}
    ae0 {
        description "Uplink"
        flexible-vlan-tagging;
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    irb {
        unit 0 {
            family inet {
                address {{ mgmt_ip }};
            }
        }
    }
    # Access ports
    {% for intf in access_auto %}
    {{ intf.ifname }} {
        unit 0 {
            family ethernet-switching {
            }
        }
    }
    {% endfor %}
}

{% for radius_server in radius_servers %}
set access radius-server {{ radius_server.host }} secret "testing"
set access radius-server {{ radius_server.host }} source-address {{ mgmt_ip }}
set access profile prof1 radius authentication-server {{ radius_server.host }}
{% endfor %}

set access profile prof1 authentication-order radius

set protocols dot1x authenticator authentication-profile-name prof1

{% for intf in access_auto %}
set protocols dot1x authenticator interface {{ intf.ifname }}.0 supplicant single
{% endfor %}

set vlans int vlan-id 123
set vlans ext vlan-id 321
{% endblock %}
